data/* filter=lfs diff=lfs merge=lfs -text
model/checkpoint680.pth filter=lfs diff=lfs merge=lfs -text
test/GroundTruth/ground_truth_test0.pt filter=lfs diff=lfs merge=lfs -text
test/GroundTruth/ground_truth_test3.pt filter=lfs diff=lfs merge=lfs -text
test/GroundTruth/ground_truth_test5.pt filter=lfs diff=lfs merge=lfs -text
test/Loss/loss_test3.pt filter=lfs diff=lfs merge=lfs -text
test/Loss/loss_test6.pt filter=lfs diff=lfs merge=lfs -text
test/GroundTruth/ground_truth_test4.pt filter=lfs diff=lfs merge=lfs -text
test/Loss/loss_test4.pt filter=lfs diff=lfs merge=lfs -text
test/MultiScaleRoiAlign/multiscale_RoIAlign_test0.pt filter=lfs diff=lfs merge=lfs -text
test/GroundTruth/ground_truth_test6.pt filter=lfs diff=lfs merge=lfs -text
test/Loss/loss_test2.pt filter=lfs diff=lfs merge=lfs -text
test/Loss/loss_test5.pt filter=lfs diff=lfs merge=lfs -text
test/MultiScaleRoiAlign/multiscale_RoIAlign_test2.pt filter=lfs diff=lfs merge=lfs -text
test/MultiScaleRoiAlign/multiscale_RoIAlign_test3.pt filter=lfs diff=lfs merge=lfs -text
test/GroundTruth/ground_truth_test1.pt filter=lfs diff=lfs merge=lfs -text
test/GroundTruth/ground_truth_test2.pt filter=lfs diff=lfs merge=lfs -text
test/Loss/loss_test0.pt filter=lfs diff=lfs merge=lfs -text
test/Loss/loss_test1.pt filter=lfs diff=lfs merge=lfs -text
test/MultiScaleRoiAlign/multiscale_RoIAlign_test1.pt filter=lfs diff=lfs merge=lfs -text
checkpoint_save/rpn_epoch39 filter=lfs diff=lfs merge=lfs -text
evaluation/data/hold_out_images.npz filter=lfs diff=lfs merge=lfs -text
checkpoint_save/rpn_epoch39-1 filter=lfs diff=lfs merge=lfs -text
checkpoint_save/rpn_epoch49-2 filter=lfs diff=lfs merge=lfs -text
checkpoint_save/rpn_epoch49-3 filter=lfs diff=lfs merge=lfs -text
